<nav [ngClass]="{'expanded': showSearch}" class="navbar sticky-top navbar-expand-sm bg-light">
  <div class="container justify-content-center">
    <a class="navbar-brand" href="/home">UniGrab</a>
  </div>

  <div class="container">
      <ul class="nav justify-content-between">
        <div class="nav-item" routerLinkActive="active-link">
          <a routerLink="/about">
            <span>
              <li>ABOUT</li>
            </span>
          </a>
        </div>

        <div class="nav-item" *ngIf="isAuthenticated" routerLinkActive="active-link">
          <a routerLink="/profile">
            <span>
              <li>PROFILE</li>
            </span>
          </a>
        </div>

        <div *ngIf="currentRouteIsHome()">
          <a (click)="toggleSearch()">
            <span>
               <img src="../assets/icons/search.svg">
            </span>
          </a>
        </div>
      </ul>

    <div class="sign-in" *ngIf="!isAuthenticated">
      <a routerLink="/login">
        Sign in
      </a>
    </div>

    <div class="sign-out" *ngIf="isAuthenticated">
      <a (click)="logout()" routerLink="/home">
        Sign out
      </a>
    </div>

  </div>

</nav>
<div *ngIf="showSearch && currentRouteIsHome()" class="search container-fluid">
  <app-search></app-search>
</div>
